<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="script.location" value=".\ScriptEngine\Jiahu.Script.dll"/>
		<add key="external.object.data.underlying" value=".\Data\underlying.json"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>